<p-tabView>
    <p-tabPanel *ngIf="data" [header]="'general'" [selected]="true">
<div class="ui-g">
        <div *ngFor="let field of priFields; let i =index"  class="ui-g-12 ui-md-6">
            <div  class="ui-g-4">
                    {{ field }}:
            </div>
            <div   class="ui-g-8">
                    {{ this.data["SelectedItems"][0][field] }}
            </div>
        </div>
    </div>
    </p-tabPanel>
  <p-tabPanel [header]="field" *ngFor="let field of nonPriFields; let i = index">
      <app-list-control [GenerateColumnAutomatic]="true" [ListData]="data['SelectedItems'][0][field]" ></app-list-control>
  </p-tabPanel>
  <p-tabPanel [header]="field" *ngFor="let field of priArrayFields; let i = index">
      <p-chips [(ngModel)]="data['SelectedItems'][0][field]"></p-chips>    
  </p-tabPanel>
  <p-tabPanel [header]="field" *ngFor="let field of objFields; let i = index">
      <app-list-control [GenerateColumnAutomatic]="true" [ListData]="[data['SelectedItems'][0][field]]" ></app-list-control>
  </p-tabPanel>
</p-tabView>
