<!-- <app-entity-view [EntityName] = "'entity'"></app-entity-view> -->

<form [formGroup]="formGroup" (ngSubmit)="submit()">
    <p-panel header="Create Entity">
        <p-tabView>
            <p-tabPanel [header]="'general'" [selected]="true">
                <div class="ui-g">
                    <div class="ui-g-12 ui-md-9">
                        <div class="ui-g-4 ui-md-2">
                            Entity Code :
                        </div>
                        <div class="ui-g-8 ui-md-3">
                            <input pInputText type="text" formControlName="entity_code" />
                        </div>
                        <div class="ui-g-4 ui-md-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['entity_code'].valid&&formGroup.controls['entity_code'].dirty">
                                <i class="fa fa-close"></i>
                                Entity Code is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-9">
                        <div class="ui-g-4 ui-md-2">
                            Entity Name :
                        </div>
                        <div class="ui-g-8 ui-md-3">
                            <input pInputText type="text" formControlName="entity_name" />
                        </div>
                        <div class="ui-g-4 ui-md-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['entity_name'].valid&&formGroup.controls['entity_name'].dirty">
                                <i class="fa fa-close"></i>
                                Entity Name is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-g-12 ui-md-9">
                        <div class="ui-g-4 ui-md-2">
                            Entity Access :
                        </div>
                        <div class="ui-g-8 ui-md-3">
                            <p-chips formControlName="entity_access"></p-chips>
                        </div>
                        <div class="ui-g-4 ui-md-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['entity_access'].valid&&formGroup.controls['entity_access'].dirty">
                                <i class="fa fa-close"></i>
                                Entity Access is required
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ui-g-12 ui-md-9">
                    <div class="ui-g-4 ui-md-2">
                        Entity Active :
                    </div>
                    <div class="ui-g-8 ui-md-3">
                        <p-checkbox formControlName="entity_active" binary="true"></p-checkbox>
                    </div>
                    <div class="ui-g-4 ui-md-4">
                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!formGroup.controls['entity_active'].valid&&formGroup.controls['entity_active'].dirty">
                            <i class="fa fa-close"></i>
                            Entity Active is required
                        </div>
                    </div>
                </div>

            </p-tabPanel>
            <p-tabPanel [header]="'Schema'">                
                <p-table  [columns]="schemaColumns"  [value]="entity_schema"  [(selection)]="selectedItems" dataKey="_id">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th style="width: 2.25em">
                                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                            </th>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td>
                                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
                            </td>
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                        </tr>
                    </ng-template>    
                    <ng-template pTemplate="summary" let-rowData>
                        <div style="text-align:left">
                            <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
                        </div>
                    </ng-template>               
                </p-table>
                <p-dialog header="Field Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="300">
                    <div formGroupName="entity_schema_group" class="ui-g ui-fluid" *ngIf="newField">
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="fieldCode">Field Code</label>
                            </div>
                            <div class="ui-g-8">
                                <input pInputText id="fieldCode" formControlName="field_code" />
                            </div>
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="fieldType">Field Type</label>
                            </div>
                            <div class="ui-g-8">
                                <input pInputText id="fieldType" formControlName="field_type" />
                            </div>
                        </div> 
                         <div class="ui-g-12">
                            <div class="ui-g-4">
                                <label for="isRequired">Is required</label>
                            </div>
                            <div class="ui-g-8">
                                <input pInputText id="isRequired" formControlName="field_required" />
                            </div>
                        </div>
                    </div>
                    <p-footer>
                        <div class="ui-dialog-buttonpane ui-helper-clearfix">
                            <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
                            <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
                        </div>
                    </p-footer>
                </p-dialog>
            </p-tabPanel>
            <p-tabPanel [header]="'Entity Access'">
                  <p-tabView>
                <p-tabPanel [header]="field" *ngFor="let field of formGroup.value.entity_access; let i = index">
                    {{field}} - {{i}}
                </p-tabPanel>
            </p-tabView>
            </p-tabPanel>

            <!-- <p-tabPanel [header]="field" *ngFor="let field of priArrayFields; let i = index">
              <p-chips [(ngModel)]="data['SelectedItems'][0][field]"></p-chips>    
          </p-tabPanel>
          <p-tabPanel [header]="field" *ngFor="let field of objFields; let i = index">
              <app-list-control [GenerateColumnAutomatic]="true" [ListData]="[data['SelectedItems'][0][field]]" ></app-list-control>
          </p-tabPanel>  -->
        </p-tabView>
        <button pButton type="submit" label="Submit" [disabled]="!formGroup.valid"></button>
    </p-panel>

</form>

{{formGroup.value|json}}
